<!-- Highlight Card -->
<div class="row">


  <footer>
    Status : {{conn2.readyState}} ({{now |date: 'dd.MM.yyyy HH:mm:ss'}})

  </footer>

<div class="card highlight-card card-small">

  <div class="btn-group">
    <button class="btn btn-primary" (click)="connect()" [disabled]="conn2.readyState === 1">
      <em class="fa fa-link"></em>
    </button>

    <button class="btn btn-primary" (click)="close()"  [disabled]="conn2.readyState != 1">
      <em class="fa fa-unlink"></em>
    </button>

    <div class="card highlight-card card-small">
      <input type="text" [(ngModel)]="newCoin" #newCoinInput>
      <button class="btn btn-primary btn-sm" (click)="addNewCoin(newCoinInput.value)"><em class="fa fa-plus"></em></button>
    </div>
  </div>

</div>



  <div class="card-group">
  <app-coin *ngFor="let coin of coins" [coin]="coin" (remove)="remove(coin)">
    </app-coin>
  </div>


</div>

